
! Set default geometry (columns x rows)
xterm*geometry: 79x23

! Nord color scheme for xterm (https://www.nordtheme.com/)
! Base colors
*foreground:   #D8DEE9
*background:   #04090C
*cursorColor:  #D8DEE9

! Black
*color0:       #3B4252
*color8:       #4C566A

! Red
*color1:       #BF616A
*color9:       #BF616A

! Green
*color2:       #A3BE8C
*color10:      #A3BE8C

! Yellow
*color3:       #EBCB8B
*color11:      #EBCB8B

! Blue
*color4:       #81A1C1
*color12:      #81A1C1

! Magenta
*color5:       #B48EAD
*color13:      #B48EAD

! Cyan
*color6:       #88C0D0
*color14:      #88C0D0

! White
*color7:       #E5E9F0
*color15:      #ECEFF4

! Font settings (Monospace 12)
xterm*faceName: Monospace
xterm*faceSize: 12
xterm*renderFont: true
xterm*utf8: 2
xterm*locale: true

! Disable scrollbar and set other useful options
xterm*scrollBar: false
xterm*selectToClipboard: false
xterm*on3Clicks: word
xterm*highlightSelection: true

!! URxvt (rxvt-unicode) configuration with Nord color scheme
!! https://www.nordtheme.com/

! Geometry and basic settings
URxvt*geometry: 79x23
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*skipScroll: true
URxvt*transparent: false
URxvt*shading: 20
URxvt*fading: 0
URxvt*utmpInhibit: true

! Nord Color Scheme
URxvt*foreground: #D8DEE9
URxvt*background: #04090C
URxvt*cursorColor: #D8DEE9
URxvt*cursorColor2: #04090C

! Black
URxvt*color0:  #3B4252
URxvt*color8:  #4C566A

! Red
URxvt*color1:  #BF616A
URxvt*color9:  #BF616A

! Green
URxvt*color2:  #A3BE8C
URxvt*color10: #A3BE8C

! Yellow
URxvt*color3:  #EBCB8B
URxvt*color11: #EBCB8B

! Blue
URxvt*color4:  #81A1C1
URxvt*color12: #81A1C1

! Magenta
URxvt*color5:  #B48EAD
URxvt*color13: #B48EAD

! Cyan
URxvt*color6:  #88C0D0
URxvt*color14: #88C0D0

! White
URxvt*color7:  #E5E9F0
URxvt*color15: #ECEFF4

! Font settings (use xft for modern font rendering)
URxvt*font: xft:Monospace:size=12:antialias=true
URxvt*boldFont: xft:Monospace:size=12:antialias=true:style=bold
URxvt*italicFont: xft:Monospace:size=12:antialias=true:style=italic
URxvt*letterSpace: 0

! Clipboard and selection
URxvt*selectToClipboard: true
URxvt*highlightSelection: true
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 1

