<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Labwc">
    <item label="Terminal">
      <action name="Execute" command="footclient" />
    </item>
    <item label="Launcher">
      <action name="Execute" command="fuzzel" />
    </item>
    <separator />
    <item label="Reload">
      <action name="Reconfigure" />
    </item>
    <item label="Exit">
      <action name="Exit" />
    </item>
  </menu>
</openbox_menu>
